<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seller_id %><br>
    <%= f.number_field :seller_id %>
  </div>
  <div class="field">
    <%= f.label :bookcode_id %><br>
    <%= f.number_field :bookcode_id %>
  </div>
  <div class="field">
    <%= f.label :buyer_id %><br>
    <%= f.number_field :buyer_id %>
  </div>
  <div class="field">
    <%= f.label :seller_price %><br>
    <%= f.number_field :seller_price %>
  </div>
  <div class="field">
    <%= f.label :last_price %><br>
    <%= f.number_field :last_price %>
  </div>
  <div class="field">
    <%= f.label :send_flag %><br>
    <%= f.number_field :send_flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
