<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Simple Form</div>
      <div class="panel-body">
        <%= simple_form_for @book, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
          <%= f.input :seller_id %><br>
          <%= f.input :bookcode_id %><br>
          <%= f.input :buyer_id %><br>
          <%= f.input :seller_price %><br>
          <%= f.input :last_price %><br>
          <%= f.input :send_flag %><br>
          <%= f.button :submit  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
