<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= link_to @book.seller.name, person_path(@book.seller) %>
</p>

<p>
  <strong>Book:</strong>
  <ul>
    <li>name: <%= @book.bookcode.name %></li>
    <li>price: <%= @book.bookcode.price %></li>
    <li>isbn: <%= @book.bookcode.isbn %></li>
  </ul>
</p>

<p>
  <strong>Buyer:</strong>
  <%= link_to @book.buyer.name, person_path(@book.buyer) %>
</p>

<p>
  <strong>Seller price:</strong>
  <%= @book.seller_price %>
</p>

<p>
  <strong>Last price:</strong>
  <%= @book.last_price %>
</p>

<p>
  <strong>Send flag:</strong>
  <%= @book.send_flag %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-link" %> |
<%= link_to 'Back', books_path, class: "btn btn-link" %>
